$red-color: red;
$bg-header: #ff6900;
$heart-color: #ff0000;
$sostenibile-g: #008000;
$icon-color: white;
$bg-footer: #1a1a1a;
$bg-main: beige;
$heart-color: #ff0000;
$writen-color: white;

$marca-color:  gray;

// font
$primary-font: 'Roboto', sans-serif;